<h1 class="page-header">{{vm.pageName}}</h1>

<div class="row">

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Models
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a ng-repeat="model in vm.models" href="#/list/{{model}}" class="list-group-item" data-ytta-id="-">
                        <i class="fa fa-money fa-fw"></i> {{model}}
                        <button type="button" class="pull-right btn btn-info btn-xs">View List</button>
                    </a>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Other Info
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a ng-repeat="model in vm.models" href="#/list/{{model}}" class="list-group-item" data-ytta-id="-">
                        <i class="fa fa-money fa-fw"></i> {{model}}
                        <button type="button" class="pull-right btn btn-info btn-xs">View List</button>
                    </a>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<!-- /.row -->